body {background-color: #004b19; font: 20px "Century Gothic"; color: white;}
.navbar {background-color: #004b19;}
.navbar-item {padding-top: 15px; padding-right: 15px; padding-bottom: 50px; padding-left: 15px;}
.margin {margin-bottom: 50px}